<p id="notice"><%= notice %></p>

<p>
  <h2><%= @question.title %></h2>
<strong>Creator:</strong>
<%= @question.user.name %>
</p>

<%= markdown(@question.content) %>
</p>

<%= link_to 'Edit Question', edit_question_path(@question) %> |
<%= link_to 'List Question', questions_path %> |
<%= link_to 'Submit New Answer', submit_answer_path(@question) %>

<!--Only display below if there are any answers-->
<% if @question.answers %>
    <p>
      <h2>Total Answers: <span class="badge"> <%= @question.answers.count %> </span></h2>
    </p>
    <% @question.answers.each do |answer| %>
        <div class="thumbnail">
          <span class="badge"><%= answer.code_language.name %></span>
          <pre class="prettyprint"><%= answer.content %></pre>
          <div class="caption">
            <span><%= image_tag answer.user.avatar.url(:thumb) %> <%= answer.user.name %></span>
          </div>
        </div> <!-- end of thumbnail-->
    <% end %>
<% end %>