
<% if get_current_user %>
    <h2>Hello, <%= get_current_user.name %></h2>
    <h3>Please click a question to continue</h3>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Question ID</th>
      <th>Title</th>
      <th>Posted by</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.try(:id) %></td>
        <td><%= question.try(:title) %></td>
        <td><%= question.try(:user).try(:name) %></td>
        <td>
          <%= link_to 'View', question, {:class=>("btn btn-primary")} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path, {:class=>("btn btn-primary")} %>
