<div class="row">
  <div class="col-md-6">

    <%= image_tag @user.avatar.url(:medium) %>

    <dl>
      <dt>Name:</dt>
      <dd><%= @user.name %></dd>

      <dt>Email:</dt>
      <dd><%= @user.email %></dd>

      <dt>Password digest:</dt>
      <dd><%= @user.password_digest %></dd>

      <dt>Classroom:</dt>
      <dd><%= @user.classroom.name %></dd>

      <dt>Roles:</dt>
      <dd><%= @user.roles.collect(&:name).join(",") %></dd>
      <!--<% @user.roles do |role| %>-->
          <!--<span><%= role[:name] %></span>-->
      <!--<% end %>-->


      <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary' %>
      <%= link_to 'List All Users', users_path, class: 'btn btn-primary' %>

    </dl>
  </div>
</div>