<p id="notice"><%= notice %></p>

<h1>Listing Code Languages</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @code_languages.each do |code_language| %>
      <tr>
        <td><%= code_language.name %></td>
        <td><%= link_to 'Show', code_language, class: 'btn btn-primary' %>
        <%= link_to 'Edit', edit_code_language_path(code_language), class: 'btn btn-primary' %>
        <%= link_to 'Destroy', code_language, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Code language', new_code_language_path, class: 'btn btn-primary' %>
