<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :city %><br>
    <%= f.select :city, options_for_select(['Singapore', 'Melbourne', 'Sydney', 'Hong Kong', 'London', 'Atlanta',
        'Austin', 'Boston', 'Chicago', 'Denver', 'Los Angeles', 'New York', 'San Francisco', 'Seattle', 'Washington'], :selected => f.object.city) %>
  </div>

  <div class="field">
    <%= f.label :country %><br>
    <%= f.select :country, options_for_select(['Singapore', 'Australia', 'USA', 'China', 'UK'], :selected => f.object.country) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
