<!DOCTYPE html>
<html>
<head>
  <title>CodeReview</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <%= csrf_meta_tags %>
</head>
<body>

<!--Display amy messages in the flash array with the required style-->
<% flash.each do |name, message| %>
    <div class="flash-message flash-message-<%= name %>">
      <%= message %>
    </div>
<% end %>

<% if get_current_user %>
    <h1>Hello, <%= get_current_user.email %></h1>
    <%= link_to 'Logout', logout_path, method: :delete, data: {confirm: 'Are you Sure?'} %>
<% else %>
    <% link_to 'Please Login', login_path %>
<% end %>

<%= yield %>

  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
  <script src="http://cdn.jsdelivr.net/ace/1.2.0/min/ace.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
